***#LIST & TUPLE***

***LIST***

In [2]:
marks = [76,45,76,22,45]
print(marks)
print(type(marks))
print(marks[0])
print(marks[3])
print(len(marks))

[76, 45, 76, 22, 45]
<class 'list'>
76
22
5

In [3]:
students = ["Sanket",98,23,"Pune"]
print(students)

['Sanket', 98, 23, 'Pune']

In [6]:
#List is Mutable they can change anything
students = ["Sanket",98,23,"Pune"]
print(students[0])
students[0] = "Banket"
print(students)

Sanket
['Banket', 98, 23, 'Pune']

In [7]:
#In List slicing is allowed
marks = [76,45,76,22,45]
print(marks[1:3])

[45, 76]

In [8]:
#list.append()....adds one elements at the end..yaha element add kr skte hai list mai
marks = [76,45,76,22,45]
marks.append(34)
print(marks)

[76, 45, 76, 22, 45, 34]

In [9]:
#list.sort()...sorts in ascending order...
marks = [76,45,76,22,45]
marks.sort()
print(marks)

[22, 45, 45, 76, 76]

In [10]:
# list.sort(reverse= True)...sorts in decending order
marks = [76,45,76,22,45]
marks.sort(reverse = True)
print(marks)

[76, 76, 45, 45, 22]

In [11]:
#list.reverse()...reverse the list
marks = [76,45,76,22,45]
marks.reverse()
print(marks)

[45, 22, 76, 45, 76]

In [14]:
#list.insert(indix,element)...insert element at index
marks = [76,45,70,22,45]
marks.insert(1,77)
print(marks)

[76, 77, 45, 70, 22, 45]

In [16]:
#list.remove()...remove first occurrence of element
marks = [76,45,76,22,45]
marks.remove(45)
print(marks)

[76, 76, 22, 45]

In [17]:
#list.pop()....remove element at index
marks = [76,45,76,22,45]
marks.pop(2)
print(marks)

[76, 45, 22, 45]

***TUPLES***

In [18]:
#tuple is the Immutable they can't change anything
marks = (76,45,76,22,45)
print(marks)
print(type(marks))
print(marks[0])
print(marks[3])
print(len(marks))

(76, 45, 76, 22, 45)
<class 'tuple'>
76
22
5

In [20]:
tup =(1,)  #this is for single value "," dena mandtory hai tuple mai.. nhi toh voh 'int,str' mai type show hoga
print(tup)
print(type(tup))

(1,)
<class 'tuple'>

In [22]:
#for multiple value not required
tup = (1,2,3,4)
print(tup)
print(type(tup))

(1, 2, 3, 4)
<class 'tuple'>

In [23]:
#In tuple slicing is allowed
marks = (76,45,76,22,45)
print(marks[1:3])

(45, 76)

In [26]:
#tup.index(element)...returns index of first occurrence
tup = (1,2,3,4)
print(tup.index(4))

3

In [27]:
#tup.count(element)...count total occurrences
tup = (1,2,3,4,2,1,2,2)
print(tup.count(2))

4

In [28]:
#WAP to ask the user to enter names of their 3 fav movies & store them in a list
movie = []
mov1 = input("enter 1st mov")
mov2 = input("enter 2nd mov")
mov3 = input("enter 3rd mov")

movie.append(mov1)
movie.append(mov2)
movie.append(mov3)
print(movie)

enter 1st mov housefull 4
enter 2nd mov gaddar
enter 3rd mov premlila

['housefull 4', 'gaddar', 'premlila']

In [29]:
#WAP to check if list contains a palidrome of elements
list1= ["m","a","a","m"]
copy_list1 = list1.copy()
copy_list1.reverse()

if (copy_list1 == list1):
    print("Palindrome")
else:
    print("Not Palindrome")

Palindrome

In [30]:
#WAP to count the number of student with "A" grade in the following tuple
tup = ("c","d","a","a","b","b","a")
tup1 = (tup.count("a"))
print(tup1)

3

In [35]:
#storethe above value in a list & sort them from "A" to "D"
list = ["c","d","a","a","b","b","a"]
list.sort()
print(list)

['a', 'a', 'a', 'b', 'b', 'c', 'd']

***SET & DICTIONARY***

***DICTIONARY***

In [38]:
info = { 
    "key" : "Value",
    "Name": "Sanket",
    "Age": 23,
    "is adult" : True,
    "Marks": 82.23
}
print(info)

{'key': 'Value', 'Name': 'Sanket', 'Age': 23, 'is adult': True, 'Marks': 82.23}

In [ ]:
# yaha tuple and list bhi store hota hai
# in dic they are unoreder,mutable(changeable) and dont allow duplicate keys

In [40]:
info = { 
    "key" : "Value",
    "Name": "Sanket",
    "Age": 23,
    "is adult" : True,
    "Marks": 82.23
}
print(info["Name"])
print(info["Marks"])
print(info["Age"])

Sanket
82.23
23

In [45]:
#NESTED DIC..
student = {
    "name": "Sanket",
    "Score": {
        "math": 98,
        "chem": 85,
        "bio": 97,
    }
}
print(student)
print(student["Score"])
print(type(student))

{'name': 'Sanket', 'Score': {'math': 98, 'chem': 85, 'bio': 97}}
{'math': 98, 'chem': 85, 'bio': 97}
<class 'dict'>

In [47]:
#dic.keys()...return all keys
student = {
    "name": "Sanket",
    "Score": {
        "math": 98,
        "chem": 85,
        "bio": 97,
    }
}
print(student.keys())

dict_keys(['name', 'Score'])

In [54]:
#dic.values()...return all values
student = {
    "name": "Sanket",
    "Score": {
        "math": 98,
        "chem": 85,
        "bio": 97,
    }
}
print(student.values())

dict_values(['Sanket', {'math': 98, 'chem': 85, 'bio': 97}])

In [56]:
#dic.items()...return aal key value pairs as tuples
student = {
    "name": "Sanket",
    "Score": {
        "math": 98,
        "chem": 85,
        "bio": 97,
    }
}
print(student.items())

dict_items([('name', 'Sanket'), ('Score', {'math': 98, 'chem': 85, 'bio': 97})])

In [58]:
#dic.update(new dic)...inserts the specified items to the dic
student = {
    "name": "Sanket",
    "Score": {
        "math": 98,
        "chem": 85,
        "bio": 97,
    }
}
student.update({"city": "Pune"})
print(student)

{'name': 'Sanket', 'Score': {'math': 98, 'chem': 85, 'bio': 97}, 'city': 'Pune'}

***SETS***
set is unordered items
elements is unique and immutables
set is mutable but their elements are immutables

In [62]:
collection = {1,2,3,4}
print(collection)
print(type(collection))

{1, 2, 3, 4}
<class 'set'>

In [65]:
#in set ..set are remove the duplicate values
collection = {1,2,3,4,"sk","sk","sk",2,2,3}
print(collection)

{1, 2, 3, 4, 'sk'}

In [68]:
#set.add(element)...adds an elements

collection = set()
collection.add(1)
collection.add(2)
collection.add("Sanket")
collection.add((1,2,3,4))

print(collection)

{(1, 2, 3, 4), 1, 2, 'Sanket'}

In [72]:
#set.remove(el)..removes the element

collection = {1,2,3,4}
collection.remove(3)
print(collection)
print(len(collection))

{1, 2, 4}
3

In [71]:
#set.clear()...remove all set
collection = set()
collection.add(1)
collection.add(2)
collection.add("Sanket")
collection.add((1,2,3,4))

collection.clear()
print(collection)

set()

In [74]:
#set.pop()...remove random value
collection ={"hello","sanket","how","are","you"}
print(collection.pop())
print(collection.pop())

are
you

In [76]:
#set.union(set2)...combines both set values & return new 
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.union(set2))

{1, 2, 3, 4}

In [77]:
#set.intersection(set2)...combine common values and return new
set1 = {1,2,3}
set2 = {2,3,4}
print(set1.intersection(set2))

{2, 3}

In [80]:
#WAP storefollowing word meaning in a python dic
#table:"a piece of furniture", "list of facts & figures"
#cat: "a small animal"
dic = {
    'cat': "a small animal",
    "table": ["a piece of furniture", "list of facts & figures"]
}

print(dic)

{'cat': 'a small animal', 'table': ['a piece of furniture', 'list of facts & figures']}

In [82]:
#WAP you are given a list of sub forstudent assume one classroom is requied for 1 sub.how many classroom are needed by all students
collection = {"python","java","cpp","python","javascripts","java","python","java","cpp","c"}
print(collection)
print(len(collection))

{'javascripts', 'python', 'cpp', 'c', 'java'}
5