In [1]:
sanket= ("Hello Python")
print (sanket)

Hello Python

In [2]:
name = "sanket"
age = 23
salary = 50000
print("I m:", name, "My age is:", age, "the salary is:", salary)

I m: sanket My age is: 23 the salary is: 50000

In [6]:
name = "sanket"
age = 23
salary = 500.567
old = False
a = None
print(type(name))
print(type(age))
print(type(salary))
print(type(old))
print(type(a))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>
<class 'NoneType'>

In [14]:
#arithmetics operators
a = int (input("enter your value 1"))
b = int (input("enter your value 2"))
c = a+b
d = a-b
e = a/b
f = a*b
g = a%b # find remainder
h = a**b # powers of
print("addition:",c,
      "sub:", d,
      "Division:",e,
      "Multi:", f,
      "remainder:",g,
      "SKKKK:",h)

enter your value 1 5
enter your value 2 2

addition: 7 sub: 3 Division: 2.5 Multi: 10 remainder: 1 SKKKK: 25

In [17]:
 #relational operators
a= 50
b= 20
print(a==b)
print(a!=b)
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)

False
True
True
False
True
False

In [24]:
#Assignment Operator
num = 10
num  += 10 # here this is all operators:- =,+=,-=,*=,/=,%=,**=,//=

print("number is:",num)

number is: 20

In [32]:
#Logical Operators
#not operators
a= 50
b=20
print(not False)
print(not (a>b))

#And operators
val1 = True
val2 = True
print(val1 and val2)

#OR Operators
print (val1 or val2)

True
False
True
True

In [33]:
#Type Conversion
a = int ("2")
b = 4.25
print (type(a))
print(a+b)

<class 'int'>
6.25

In [34]:
name = input ("Your name is")
age = int(input("your age is"))
salary = float (input("Your salary is"))
print ( name, age, salary)

Your name is Sanket
your age is 23
Your salary is 50000

Sanket 23 50000.0

In [37]:
#write a program to input 2 numbers & print their sum
a = int(input ("enter first:"))
b = int(input ("enter second:"))
print("Sum =", a+b)

enter first: 20
enter second: 30

Sum = 50

In [38]:
#WAP to input side of a square nd print its area
a = float(input("enter first side"))
b = float(input("enter second side"))
print ("Area of sq is:", a*b)

enter first side 4
enter second side 4

Area of sq is: 16.0

In [41]:
#for next line...next line= \n & for tab= \t
str =  "I m sanket. \nmy age is 23"
print(str)

I m sanket.
my age is 23

In [47]:
#For length
str1 = "SBUP University"
print(len(str1))

str2 = "Pune"
len2 = len(str2)
print(len2)

final_str = str1 + " " + str2 #spaces also calculated
print (final_str)
print(len(final_str))

15
4
SBUP University Pune
20

In [52]:
#indexing
str = "SBUP University"
print(str[7])

i

In [58]:
#Slicing
str = "SBUP university"
print(str[0:6])
print(str[7:]) #etc
print(str[-9:-5])

SBUP u
iversity
nive

In [60]:
#str.endswith()
str = "i m studing Python from SBUP"
print(str.endswith("SBUP"))
print(str.endswith("from"))

True
False

In [63]:
#str.capitalize()
str = "i m studing Python from SBUP"
print(str.capitalize()) 

#first time yeh starting ka word capital krta hai but 2nd time nhi hota
# for fixed this we can

str = str.capitalize()
print(str)

I m studing python from sbup
I m studing python from sbup

In [65]:
#str.replace()
str = "i m studing Python from SBUP"
print(str.replace("SBUP","AISSMS"))

i m studing Python from AISSMS

In [69]:
#str.find()
str = "i m studing Python from SBUP"
print(str.find("SBUP"))

24

In [70]:
#str.count()
str = "i m studing Python from SBUP"
print(str.count("P"))

2

In [9]:
l = float(input("enter length of rectangle"))
b = float (input("enter breath of rectangle"))
area = l*b
print("length:",l,
      "breath:",b,
      "Area:", area)

enter length of rectangle 20
enter breath of rectangle 10

length: 20.0 breath: 10.0 Area: 200.0